
.Avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62%;
    border: 2px rgb(163, 163, 163) solid;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}